@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

html {
    height: 100%; 
}

.slideshow-container {
    width: 70%; 
    margin-left: auto; 
    margin-right: auto; 
}

.pink-background {
    z-index: -900; 
    width: 100%; 
    position: absolute;
}

.header {
    margin: 250px auto 0; 
    z-index: 1; 
    text-align: center; 
    color: #2E294E; 
    font-weight: bold; 
    font-size: 2em; 
    width: 620px; 
}

table {
    margin-left: auto; 
    margin-right: auto; 
}

@media only screen and (max-width: 1024px) {
    table {
        display: none; 
    }
}

td {
    padding: 50px; 
}

#photo1 {
    width: auto; 
    height: 250px; 
    transform: rotate(-5deg); 
}

#photo2 {
    width: auto; 
    height: 250px;
    transform: rotate(5deg); 
    
}

#photo3 {
    width: auto; 
    height: 250px;
    transform: rotate(-5deg); 
}

.intro-text {
    margin-bottom: 70px; 
    padding: 0 300px; 
    text-align: center; 
    font-weight: 700; 
    font-size: 25px; 
    color: #2E294E; 
}

@media only screen and (max-width: 1024px) {
    .intro-text {
        padding: 0 10px; 
    }
}

button {
    background-color: #2E294E;
    color: white; 
    padding: 15px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: none; 
}

button:hover {
    color: #2E294E;
    background-color: white; 
    
}