@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;   
}

.navbar img {
    margin: 0 20px; 
    padding: 0; 
    height: 3em; 
    width: auto; 
}

ul {
    margin: 0; 
    padding: 10px 0px; 
    list-style-type: none;
    background-color: white; 
    overflow: hidden; 
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 20px; 
    border-bottom: 5px solid #2e294e;
}

li {
    float: right; 
    margin: 20px 0; 
}

li a {
    text-decoration: none; 
    color: #2e294e; 
    padding: 1em 1em;  
}


li a:hover {
    color: #FC8A83; 
}