@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  background: #CCCCFD; /*Change background color here */
}

ul {
  font-family: 'Roboto', sans-serif; 
  font-weight: 700; 
  font-size: 1.1em;
  color: #2e294e; 
}

li {
  padding-left: 1.1em; 
  padding-right: 1.1em; 
}

.nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color:#FC8A83;
}

.nav-link {
  color: red; 
}
