@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;   
}

ul {
    margin: 0; 
    padding: 20px 0px; 
    list-style-type: none;
    background-color: #2e294e; 
    color:#fc8a83; 
    overflow: hidden; 
    font-family: 'Roboto', sans-serif;
    
}

li {
    float: right; 
}

li a {
    text-decoration: none; 
    color:#fc8a83; 
    padding: 1em 1em;  
}


li a:hover {
    color: white; 
}